.footer {

    display: flex;
    justify-content: center;
   


    .paragraph {
        margin-top: 170px;
        display: flex;
        font-size: larger;
        color: white;
        align-items: flex-end;
    }
}